/* ------------------HOME PAGE------------------ */

/* navigation section */
#navigation {
    height: 3.5rem;
    background-color: #516c94;
}

#navigation #logo {
    color: #ffffff;
}


#navigation .nav-item,
#navigation a {
    color: #ffffff;
}


/* header image */
.header-image-container {
    height: 38.5vh;
    width: 100%;
    background: url('../images/h1.jpg') bottom right fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* footer section */
footer {
    bottom: 0px;
    height: 4rem;
    background-color: #516c94;
    position: fixed;
    margin-top: 45px;
    z-index: 1020;
}

.copyright p {
    color: #ffffff;
}

.inline-item {
    display: inline-block;

}

.social-networks-list ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.social-networks-list li a {
    color: #ffffff;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.social-networks-list li a:hover {
    color: black;
}